@import url(http://weloveiconfonts.com/api/?family=zocial);

/*implementing zocial font for social media icons*/

[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}

html {
  background: url("img/debut_light.png");
}

body {
  font-family: Raleway;
  font-weight: 400; 
  background: url("img/debut_light.png");

}



a {
  color: black;
}

h1 {
  font-weight: 200;
  line-height: 0.8;
}

header {
  padding-top: 2rem;
/*  background-image: linear-gradient( white, #bfd8d2);*/

}

nav {
  /*background-image: linear-gradient( white, #bfd8d2);*/
  /*padding: 0.5rem;*/
}

footer {
  padding-bottom: 2rem;
}

article {
/*  background-image: linear-gradient( white, #bfd8d2);*/
  padding-top: 1rem;
}


.blog {
  background-color: white;
}

.login {
  max-width: 20rem;
}

.signup {
  max-width: 20rem;
}

.login__input, .signup__input {
  max-width: 12rem;
}

.uppercase {
  text-transform: uppercase;
}

.edit__icon {
  
}

.edit__discard, .edit__delete {
  padding: 1rem;
}

.link-hover:hover .icon-hover {
  fill: #02b3e4;
  /*change the color of svg path in icon on mouse hover*/
    /*CSS validator will throw an error, because svg properties
    are not yet included to CSS*/
  }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari*/
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

  @media screen and (max-width: 639px) {
    .blog__text {
      padding: 0 0.7rem;
    }

  }

  @media screen and (min-width: 640px) and (max-width: 959px) {
    
  }

  @media screen and (min-width: 50rem) {
    body {
      font-size: 20px;
    }

    footer {
      font-size: 16px;
    }
  }









/*body {
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
  font-family: 'Lora', serif;

}

article {
	width: 100%;
}

section {
  -webkit-box-shadow: 5px 0px 22px -8px rgba(120,112,120,1);
  -moz-box-shadow: 5px 0px 22px -8px rgba(120,112,120,1);
  box-shadow: 5px 0px 22px -8px rgba(120,112,120,1);
}

footer {
  width: 100%;
}

h1 {
	width: 100%;

}

img {
	max-width: 100%;
}

figcaption {
	text-align: center;
}

textarea {
  width: 30rem;
  height: 10rem;

}

@media screen and (min-width: 850px) {
  header, article,.social {
    width: 851px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 450px) {
  .social {
    flex-wrap: wrap;
    height: 100px;
    text-align: center;
  }
  .icon {
    width: 49%;.

  }

}


hr { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 

hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

a {
  color: black;
  text-decoration: none;
}

.form {
  width: 90vw;
  -webkit-box-shadow: 5px 0px 22px -8px rgba(120,112,120,1);
  -moz-box-shadow: 5px 0px 22px -8px rgba(120,112,120,1);
  box-shadow: 5px 0px 22px -8px rgba(120,112,120,1);
  padding: 20px;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0.5rem;
}

.blog-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  border-bottom: 0.1rem solid #666;
}

.blog-title {
  width: 80%;
  font-size: 1.5rem;
}

.blog-date {
  text-align: right;
  width: 20%;
  color: #777;
}

.blog-content {
  text-align: justify;
}

.social {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
}

.github {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}

.icon {
  width: 25;
}

.error {
  text-align: center;
  color: red;
}

.submit {
  margin: 1rem;
  text-align: right;
}*/

