body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

body, main, nav {
  background-color: #ededed;
}

header {
  padding-top: 2rem;
  background-image: linear-gradient(white, #ededed);
}

nav {
  padding-bottom: 0.5rem;
}

footer {
  padding-bottom: 2rem;
}

article {
  background-color: white;
  margin: 0.2rem 0;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem; /* future proofing */
  -khtml-border-radius: 0.2rem; /* for old Konqueror browsers */
}

article:first-of-type {
  margin-top: 1rem;
}

article:last-of-type {
  margin-bottom: 1rem;
}

a {
  color: black;
}

h1 {
  line-height: 0.8;
}

.login {
  max-width: 20rem;
  background-color: white;
  padding: 2rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem; /* future proofing */
  -khtml-border-radius: 0.5rem; /* for old Konqueror browsers */
}

.signup {
  max-width: 20rem;
  background-color: white;
  padding: 2rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem; /* future proofing */
  -khtml-border-radius: 0.5rem; /* for old Konqueror browsers */
}

.login__input, .signup__input {
  max-width: 12rem;
}

.post__header {
  padding-top: 1rem;
  background-image: linear-gradient(#ededed, white);
}

.post__comments {
  padding-bottom: 1rem;
  background-image: linear-gradient(white, #ededed);
}

.comment__discard, .comment__commit, .comment__editarea {
  display: none;
}

.edit__icon, .remove__icon {
  padding: 0.5rem;
  margin: 0.1rem;
}

.edit__discard, .edit__delete {
  padding: 1rem;
}

.link-hover:hover .icon-hover {
  fill: #02b3e4 ;
  /*change the color of svg path in icon on mouse hover*/
    /*CSS validator will throw an error, because svg properties
    are not yet included to CSS*/
  }


  @media screen and (min-width: 50rem) {
    body {
      font-size: 20px;
    }

    footer {
      font-size: 16px;
    }
  }