<div class="row" id="{{comment.key.urlsafe()}}">
  <div class="small-8 column">
    <h4>{{comment.key.parent().get().name}}</h4>
  </div>
  <div class="small-4 column text-right">
    {% if comment.is_owner(current_user) %}
      <button class="fi-clipboard-pencil edit__icon" name="editComment">
      </button>
      <a class="fi-x remove__icon" href="javascript:DeleteComment('{{comment.key.urlsafe()}}');">
      </a>
    {% endif %}
  </div>
  <div class="small-12 column comment__text">
    {{comment._render_text | safe}}
  </div>
  {% if comment.is_owner(current_user) %}
  <form class="small-12 column comment__edit">
    <div class="row column">
      <textarea maxlength="500" name="content" class="comment__editarea" required="required"></textarea>
    </div>
    <div class="row">
      <div class="small-6 column text-left">
        <button class="button tiny warning comment__discard" value="Discard changes" type="reset" name="comment__discard">Discard
        </button>
      </div>
      <div class="small-6 column text-right">
        <button class="button tiny comment__commit" onclick="javascript:EditComment(this.form.content.value, '{{comment.key.urlsafe()}}');" value="Commit changes" type="reset">Commit
        </button>
      </div>
    </div>
  </form>

  {% endif %}
  <div class="small-12 column">
    <label>{{comment.created.strftime("%b %d, %Y")}}</label>
  </div>
  <hr>
</div>