{% extends "main.html" %}

{% block content %}


<div class="row">
  <form class="newpost column" method="post">
    <div class="row column">
      <h2>Edit post</h2>
    </div>
    <div class="row column small-10 medium-4 end">
      <label>Subject
        <input type="text" name="subject" value="{{blog.subject}}">
      </label>
    </div>
    <div class="row column">
      <label>Blog
        <textarea type="text" name="content">{{blog.content}}
        </textarea>
      </label>
    </div>
    <div class="row column text-left">
    {% if error %}
      <span class="form-error is-visible">
      {{error}}
      </span>
      {% endif %}
    </div>
    <div class="row">
      <fieldset class="column text-right">
        <button class="small hollow button" type="submit" value="Submit">Submit</button>
      </fieldset>
    </div>
    <hr>
  </form>
  <div class="row">
    <div class="small-6 medium-push-6 medium-3 large-push-8 large-2 column text-center">
      <a class="label warning edit__discard" href="/" value="Discard changes">Discard changes
      </a>
    </div>
    <div class="small-6 medium-3 large-2 column text-center">
      <form method="post">
        <button class="label alert edit__delete" type="delete" value="Delete post">Delete post
        </button>
      </form>
    </div>
  </div> 
</div>


{% endblock %}


