<article class="small-12 column">
  <div class="row post__header">
    <div class="small-12 column">
      <a href="/{{blog.key.parent().get().name}}/{{blog.key.id()}}"><h2>{{blog.subject}}</h2></a>
    </div>
    <div class="small-9 column">
      <h5 class="subheader">by {{blog.key.parent().get().name}}</h5>
    </div>
    <div class="small-3 column text-right">
      {% if blog.is_owner(current_user) %}
      <a class="edit__icon fi-pencil" href="/edit/{{blog.key.parent().get().name}}/{{blog.key.id()}}">
      </a>
      {% endif %}
    </div>
  </div>
  <div class="row column text-justify blog__text">
    {{blog._render_text | safe}}
  </div>
  <div class="row column">
    <hr>
    <div class="row">
      <div class="small-6 column">
      {% if not blog.is_owner(current_user) %}
      {% if current_user is none %}
        <div class="row column">
          <a class="fi-heart" href="/login">
            Like
            {% if likes %}
              {{likes}}
            {% endif %}
          </a>
        </div>
      {% else %}
        <div class="row column">
          <a class="fi-heart" href="javascript:Like('{{blog.key.urlsafe()}}');">
            Like
            <span>
              {% if likes %}
                {{likes}}
              {% endif %}
            </span>
          </a>
        </div>
      {% endif %}
      {% else %}
        <div class="row">
          <div class="small-12 column" href="/login">
            <button data-toggle-focus="likeError{{blog.key.id()}}" class="fi-heart">
              Like
              {% if likes %}
                {{likes}}
              {% endif %}
            </button>
          </div>
          <div class="small-12 column">
            <label class="label warning is-hidden text-left" id="likeError{{blog.key.id()}}" data-toggler="is-hidden">
              You can't like your own posts
            </label>
          </div>
        </div>
      {% endif %}
      </div>
      <div class="small-6 column text-right">
        {{blog.created.strftime("%b %d, %Y")}}
      </div>
    </div>
    <hr>
  </div>
  <div class="row post__comments">
    <div class="small-10 column small-centered">
      {% for comment in comments %}
          {% if loop.index == 4 %}
          <div class="hide" id="hiddenComments" data-toggler=".hide">
          {% endif %}
            {{comment.render(current_user) | safe}}
          {% if loop.last and loop.index > 3 %}
          </div class="hide">
          <div class="row">
            <div class="small-6 medium-3 column small-centered text-center">
              <button name="showMore" class="button hollow tiny" data-toggle="hiddenComments">Show more
              </button>
            </div>
          </div>
          {% endif %}
      {% endfor %}
      <div class="comment__new">
<!--       this is a temporary container for new comments
      we recieve html via ajax-->
      </div>
      {% if current_user is none %}
      <div class="small-12 column text-center small-centered end">
        <a class="label" href="/login">Log in to post comments</a>
      </div>
      {% else %}
      <div class="small-12 column">
        <form>
          <div class="row column">
            <label>New comment
              <textarea maxlength="500" name="content" id="newComment" required="required"></textarea>
            </label>
          </div>
          <div class="row">
            <div class="column text-right">
              <button type="reset" onclick="javascript:Comment(this.form.content.value,'{{blog.key.urlsafe()}}');" class="small hollow button" value="Post">Post</button>
            </div>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</article>