<h2>Login</h2>

<container style="display: flex; margin: 0">

    <form method="post" style="width: 20rem; text-align: right">
        
        <span>Username</span>
        <input type="text" name="name" value="{{name}}">
        <br>
        <span>Password</span>
        <input type="password" name="password" value="">
        <br>
        <br>
        <button>Submit</button>
        <div style="color: red; text-align: center">
            <span>{{error}}</span>
        </div> 
    </form>

    

</container>