{% extends "main.html" %}

{% block content %}

<div class="row">
  <form method="post" class="login small-centered column">
    <div class="row column">
      <label>Username
        <input class="login__input" type="text" name="name" value="{{name}}">
      </label>
    </div>
    <div class="row column">
      <label>Password
        <input class="login__input" type="password" name="password" value="">
      </label>
    </div>
    <div class="row column text-left">
    {% if error %}
      <span class="form-error is-visible">
      {{error}}
      </span>
      {% endif %}
    </div>
    <div class="row">
      <fieldset class="column text-right">
        <button class="small hollow button" type="submit" value="Submit">Submit</button>
      </fieldset>
    </div>
    <div class="row">
      <div class="column text-center">
        <hr>
        <a class="" href="/signup" value="Hey! I'm new here">Wait! I'm new here
        </a>
      </div>
    </div>
  </form>
  
</div>

{% endblock %}