{% extends "main.html" %}

{% block content %}

<div class="row">
  <form class="column" method="post">
    <div class="row column">
      <h3>New post</h3>
    </div>
    <div class="row column small-10 medium-4 end">
      <label>Subject
        <input type="text" name="subject" value="{{subject}}">
      </label>
    </div>
    <div class="row column">
      <label>Blog
        <textarea name="content">{{content}}
        </textarea>
      </label>
    </div>
    <div class="row column text-left">
    {% if error %}
      <span class="form-error is-visible">
      {{error}}
      </span>
      {% endif %}
    </div>
    <div class="row">
      <fieldset class="column text-right">
        <button class="small hollow button" type="submit" value="Submit">Submit</button>
      </fieldset>
    </div>
    <hr>
    <div class="row column text-right">
      <a class="label warning edit__discard" href="/">Discard changes
      </a>
    </div> 
  </form>
</div>

{% endblock %}