<h2>Signup</h2>

<container style="display: flex; margin: 0">

	<form method="post" style="width: 20rem; text-align: right">
	    
	    <span>Username</span>
	    <input type="text" name="name" value="{{name}}">
	    <br>
	    <span>Password</span>
	    <input type="password" name="password" value="">
	    <br>
	    <span>Verify Password</span>
	    <input type="password" name="verify" value="">
	    <br>
	    <span>Email (optional)</span>
	    <input type="text" name="email" value="{{email}}">
	    <br>
	    <br>
	    <button>Submit</button>
	   
	</form> 

	<div style="width: 50vw; color: red">
		<span>{{username_error}}</span>
		<br>
		<span>{{password_error}}</span>
		<br>
		<span>{{verify_error}}</span>
		<br>
		<span>{{email_error}}</span>
		<br>
	</div>

</container>