{% extends "main.html" %}

{% block content %}

<nav id="menuBar" class="row expanded hide-for-small-only" data-toggler="hide-for-small-only">
  <!--row is expanded to full vw to place gradient-->
  <div class="row">
    <!--div takes 100% width, so we use row class with max-width 1200px to center content-->
    <ul class="menu small-12 column simple text-right">
      <li><a href="/">Main page</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>

<div class="row">
  <form method="post" class="signup small-centered column">
    <div class="row">
      <div class="small-12 columns">
        <label>Username
          <input class="signup__input" type="text" name="name" value="{{name}}"placeholder="" aria-describedby="exampleHelpText">
          {% if username_error %}
          <span class="form-error is-visible">
          {{username_error}}
          </span>
          {% endif %}
        </label>
        <p class="help-text" id="exampleHelpText">At least 3 characters long!</p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <label>Password
          <input class="signup__input" type="password" name="password" value=""placeholder="" aria-describedby="exampleHelpText">
          {% if password_error %}
          <span class="form-error is-visible">
          {{password_error}}
          </span>
          {% endif %}
        </label>
        <p class="help-text" id="exampleHelpText"></p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <label>Verify password
          <input class="signup__input" type="password" name="verify" value="" placeholder="" aria-describedby="exampleHelpText">
          {% if verify_error %}
          <span class="form-error is-visible">
          {{verify_error}}
          </span>
          {% endif %}
        </label>
        <p class="help-text" id="exampleHelpText"></p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <label>Email (optional)
          <input class="signup__input" type="text" name="email" value="{{email}}" placeholder="" aria-describedby="exampleHelpText">
          {% if email_error %}
          <span class="form-error is-visible">
          {{email_error}}
          </span>
          {% endif %}
        </label>
        <p class="help-text" id="exampleHelpText">We won't spam you</p>
      </div>
    </div>
    <div class="row">
      <fieldset class="column text-right">
        <button class="small hollow button" type="submit" value="Submit">Submit</button>
      </fieldset>
    </div>
    <div class="row">
      <div class="column text-center">
        <hr>
        <a class="" href="/login" value="Hey! I'm new here">Hey! I've been here before
        </a>
      </div>
    </div>
  </form>
</div>
{% endblock %}

